li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

.print-body {
  background-color: #000000;
}

@media print {
  th:last-child {
    display: none;
  }

  td:last-child {
    display: none;
  }
}
